---
import moviesJson from '../data/movies.json';

let moviesArray = moviesJson[2025]
console.log(moviesArray)

const convertRuntime = (runtime: any) => {
  let hours = Math.floor(runtime/60);
  let minutes = (runtime % 60);
  return `${hours}hr ${minutes}min`
}
---
{moviesArray.map((movie)=>(
    <article class="movie-card">
        <article class="movie-info">
            <header>{movie.title}</header>            
            <p>{movie.director}</p>
            <p>{convertRuntime(movie.runtime)}</p>
            <footer>
                <button class="contrast">{movie.streamingOptions.name}</button>
            </footer>
            {/* <div class="streaming-container"><button class="contrast">{movie.streamingOptions.name}</button></div> */}
        </article>
    </article>
))}


<style>
    .movie-card {
        background-size: contain;
    }
    .movie-info {
        display: flex;
        flex-direction: column;
    }
</style>