---
const { movies } = Astro.props;

const convertRuntime = (runtime: any) => {
  let hours = Math.floor(runtime/60);
  let minutes = (runtime % 60);
  return `${hours}hr ${minutes}min`
}
---
<div>{movies}</div>

<!-- {moviesArray.map((movie: any)=>{
    <div class="movie-card">
        <figure>
            <img src={movie.imgUrl}/>
        </figure>
        <div class="movie-info">
            <h1>{movie.title}</h1>
            <p>{movie.directors}</p>
            <p>{convertRuntime(movie.runtime)}</p>
            <div class="streaming-container">
                <button type="button">{movie.streamingOptions}</button>
            </div>
        </div>
    </div>
})} -->

<style>
    .movie-card {
        color: white;
    	background: #353535;
        max-width: 300px;
        margin: auto;
        padding: 5px;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .movie-info {
        display: flex;
        flex-direction: column;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>